<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%# <link rel="stylesheet" href="/stylesheets/top.scss"> %>
  <title>トップページ</title>
</head>
<body>
  <header>
  </header>
  <div class="container">
    <div class="container-rgba">
      <h1 class="title" >MY HEALTH WEB</h1>
      <p class="sub-title">歩数記録や運動した時間を記録できるwebアプリです</p>
      <div class ="wrapper" <%= "logged-wrapper" if user_signed_in? %> >
        <% if user_signed_in? %>
          <h4>メールアドレス:<%= current_user.email%> </h4>
          <%= link_to "歩数記録", new_step_log_path %>
          <%= link_to "グループ作成", new_group_path %>
          <%= link_to "グループ一覧", groups_path %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%else%>
          <%= link_to "ログイン", new_user_session_path, class: 'button_login'%>
          <%= link_to "新規登録", new_user_registration_path, class:'button_new' %>
        <%end %>
      </div>
    </div>
  </div>
  
</body>
</html>

