<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/top.scss">
  <title>トップページ</title>
</head>
<body>
  <header>
  
  </header>
  <div class="container">
    <h1>ログイン</h1>
    <div class ="wrapper" <%= "logged-wrapper" if user_signed_in? %> >
      <% if user_signed_in? %>
        <h4>メールアドレス:<%= current_user.email%> </h4>
        <%= link_to "歩数記録", new_step_log_path %>
        <%= link_to "グループ作成", new_group_path %>
        <%= link_to "グループ一覧", groups_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%else%>
        <h2>現在ログインしていません</h2>
        <%= link_to "ログイン", new_user_session_path, class: 'post'%>
        <%= link_to "新規登録", new_user_registration_path, class:'post' %>
      <%end %>
    </div>
  </div>
  
</body>
</html>

