<h1>歩数記録一覧</h1>
<h2>こんにちは<%= current_user.name %></h2>
<%= link_to "記録する", new_step_log_path %>
<div>
  <h3>表示する期間</h3>
  <%= search_form_for @q do |f| %>
    <%= f.date_field :created_at_gteq %>
    <span>~</span>
    <%= f.date_field :created_at_lteq_end_of_day %>
    <%= f.submit "Submit", disable_with: 'Submiting...' %>
  <% end %>
</div>
<table>
  <tr class="">
    <th>日付</th>
    <th>歩数</th>
    <th>歩いた距離</th>
    <th>消費カロリー</th>
    <th>時間</th>
  </tr>
  <% @results.each do |s| %>
  <tr>
      <td><%=  s.day %></td>
      <td><%= "#{s.footsteps} 歩" %></td>
      <td><%= "#{s.distant} km" %></td>
      <td><%= "#{s.burned_calorie} kcal" %></td>
      <td><%= "#{s.duration} min" %></td>
      <td><%= link_to "編集", edit_step_log_path(s.id,s.day) %></td>
      <td><%= link_to "消去",step_log_path(s.id), method: :delete %></td>
  </tr>
  <% end %>
</table>

